.completed-todos{
  margin:0 auto;
  text-align: center;
  background: paleturquoise;
}

.not-finished{
  margin-left: 10px;
  color: red;
  display: inline;
}

.finished{
  margin-left: 10px;
  color: olivedrab;
  display: inline;
}